html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  font-family: sans-serif;
  font-weight: 100;
}

.container {
  margin-top: 0;
  text-align: center;
  padding-top: 50px;
}

h1 {
  font-size: 50px;
}

.one {
  font-size: 25px;
}
