.container {
  display: flex;
  margin-right: 15px;
  gap: 15px;
}

.container a.active {
  color: white;
  background-color: #57b846;
  padding: 5px 5px 10px 5px;
  cursor: pointer;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.2rem;
  outline: none;
  width: 90px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
