@import-normalize; /* bring in normalize.css styles */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Quicksand');

* {
  font-family: 'quicksand', Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(45deg, #49a09d, #5f2c82);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
